@media (min-width: 1366px) {
    .container{
        max-width: 1300px;
    }
}

article img {
    width: 100%;
}

.bg-danger {
    background-color: #f72210 !important;
}

svg {
    fill: white;
    height: 60px;
}

.navbar-brand {
    line-height: 60px;
}

@media (min-width: 992px) {

    #search {
        box-shadow: none;
        border: none;
        background: #ffffff url("../img/search.svg") 80% 65% no-repeat;
    }
    
    #search:focus {
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        z-index: 100;
        background-position-x: 95%;
    }

}

@media (max-width: 991.98px) { 
    svg {
        height: 20px;
    }

    #header {
        position: fixed;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 100;
        margin: 0;
    }

    .navbar-brand {
        line-height: 20px;
    }
    
 }